@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="text-info">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
@Html.Partial("_carousel")

<div class="row">
    <div class="col-md-6">
        <h2>Courses</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at augue suscipit, condimentum turpis ac, varius ligula.
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44329/Courses">Course &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Students</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at augue suscipit, condimentum turpis ac
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44329/Students">Student &raquo;</a></p>
    </div>
  
</div>